@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;

    
}
body{
    font-family: "Roboto";
}

.header.header-active{
    position: fixed;
    width:100%;
    top:0%;
    background: hotpink;
    z-index:1600;
  
}
.header  .row .col-xl-4 .logo a{
    position: absolute;
    top:20px;
    left:50px;
 
 
  
   font-size:28px;
   color:#013a71;
   font-weight: bold;
   text-decoration: none;
  
    

}
.header  .row .col-xl-4 .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.header  .row .col-xl-4 .navbar ul li {
    margin-left: 20px;
    list-style: none;
}
.header  .row .col-xl-4 .navbar ul li a{
  
        font-size: 20px;
        
        color: rgb(20, 57, 91);
        line-height: 1.2;
        text-align: left;
        text-decoration: none;
       
      
      
}
.header  .row .col-xl-4 .fa-bars{
    font-size:30px;
    color:#d27514;
    display: none;
}
.header .container .row .col-xl-4 .navbar ul li a:hover{
    color:#2289ff;

}
.header  .row .col-xl-4 .btn .btn1{
   
        border-width: 1px;
        border-color: rgb(112, 112, 112);
        border-style: solid;
        background-color: rgb(255, 255, 255);
        position: absolute;
       
        width: 120px;
        height: 44px;
        outline:none;
       
            font-size: 20px;
           
            color: rgb(48, 48, 48);
            line-height: 1.2;
            text-align: left;
            margin-left: 6px;
            margin-top: 15px;
            
          
    
      
}
.header  .row .col-xl-4 .btn .btn1 .fa-search{
    color:#2289ff;
    margin-left: 8px;
}


.header  .row .col-xl-4 .btn .btn2{
  
        border-width: 2px;
        border-color: rgb(34, 137, 255);
        border-style: solid;
        background-color: rgb(34, 137, 255);
      
        width: 95px;
        height: 54px;
        margin-left: 40px;
        outline:none;
       
            font-size: 20px;
            font-family: "Montserrat";
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.2;
            text-align: center;
            margin-left: 160px;
            margin-top: 10px;
           
           
}
.search-form{
    position: fixed;
    top:20%;
    left: 15%;
    display: none;
    z-index: 1300;
   
}
.search-form.active{
    display: block;
}
.search-form form{
    width:1000px;
    
  
}
.search-form form input{
    width: 40%;
    border:2px solid #d27514;
    outline:none;
    padding-left: 20px;
    color:#2289ff


}
.search-form form input::placeholder{
    font-size:15px;
    padding-left:20px ;
}


.login-form{
   position: fixed;
   top:20%;
    right:15%;
    display: none;
    z-index: 1500;
  
}
.login-form.active{
    display: block;
}
.login-form form{
    height:330px;
    width:450px;
    border:10px solid #013a71;
    
 
}
.login-form form input{
   height:30px;
   width:300px;
   margin-top: 25px;
   margin-left: 20px;
   padding-left: 20px;
   outline: none;
   border: 1px solid green;
 
}
.login-form form input::placeholder{
  color:orangered;
  font-size:15px;
  padding-left: 20px;
}
.login-form form input:focus{
    border:1px solid #2289ff;
}
.login-form form i{
    position: absolute;
    top:5%;
    right:8%;
    font-size:30px;
    color:#d27514;
}

.home .container .row .col-xl-10 .box{
    
    border-radius: 76px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 31px 0px rgba(0, 0, 0, 0.14);
   
  
    
    width: 864px;
    height: 300px;
    margin-top: 50px;
    

}
.home .container .row .col-xl-10 .box h3{
   
        font-size: 88px;
      
        color: rgb(34, 137, 255);
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        text-shadow: 0px 3px 7px rgba(255, 255, 255, 0.16);
        padding-left: 45px;
      
      
}
.home .container .row .col-xl-10 .box h3 span{
    color:#013a71;

}
.home .container .row .col-xl-10 .box p{
 
       
        color: rgb(48, 48, 48);
        line-height: 1.2;
       padding-left: 50px;
       margin-top: 20px;
      
      
} 
.home .container .row .col-xl-10 .button{
    display:flex;
    align-items: center;
    margin-top: 60px;
   
} 
.home .container .row .col-xl-10 .button li{
    list-style: none;
    margin-left: 80px;
  
        font-size: 28px;
        
        color: rgba(48, 48, 48, 0.788);
        font-weight: bold;
        line-height: 1.2;
       
      
}












@media screen and (max-width: 992px){

    .header  .row .col-xl-4 .fa-bars{
        display: block;
    }
    
.header  .row .col-xl-4 .navbar ul {
    position:fixed;
    top:-100rem;
    left:35%;
    display: flex;
    flex-flow:column;
    background:#ffffff;
    border: 3px dotted #2289ff;
    width:50%;
    height:75%;
    z-index: 1450;

    
    
 
    
}

.header  .row .col-xl-4 .navbar ul.active {
    top:30%;

}
.header  .row .col-xl-4 .navbar ul li{
    margin-top: 20px;
   
}
.header  .row .col-xl-4 .navbar ul li a{
    display: block;
    font-size: 30px;
    border-bottom: 1px dashed #d27514;
}

.fa-times{
    transform:rotate(360deg);
}
.home .container .row .col-xl-10 .box{
    width: 600px;
    height: 200px; 

}
}
@media screen and (max-width:768px){
    .home .container .row .col-xl-10 .box{
        width: 450px;
    }
   


}



@media screen and (max-width:600px){
    .login-form form {
     width: 250px;
    }
    .login-form form input{
        width:200px;
    }


}




@media screen and (max-width:500px){
   
    .search-form form input{
        width: 20%;
    }
    .home .container .row .col-xl-10 .box{
        width: 300px;
    }



     
 
  
    
  

}
@media screen and (max-width:300px){
    .login-form{
        position: absolute;
        right:0%
    }

}